<h1>What is Vulvodynia?</h1>

<p>Vulvodynia is really a non-diagnosis. All it means is that your lady-bits hurt. It's kind of like doing to the doctor with an aching head and having him or her diagnose you with a headache. So I don't really find that a useful place to start.</p>

<p>Let's start with what Vulvodynia isn't. It isn't 'in your head'. It isn't an STD. It doesn't seem to be an infection in an of itself, although women with it do tend to be more susceptible to UTIs, yeast infections, and other issues.</p>

<p>Okay, that rules out quite a few things, which brings us to some theories about what Vulvodynia might be...</p>